# This file establishes code owners for files owned by a team or shared across all teams

# Packages contains shared code and should be reviewed by all teams
/packages @websummit/ticket-machine @websummit/admin-tooling
