.avatar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.avatarImg {
  position: relative;
}

.avatarImg object,
.avatarImg img {
  width: 100%;
  max-width: 42px;
  max-height: 42px;
  border-radius: 50%;
  border: 2px solid transparent;
}

.avatarImg svg {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
}

.content {
  width: calc(100% - 72px)
}

.contentTitle {
  margin: 0;
}

.contentSubtitle {
  margin: .275rem 0 0;
  font-size: .875rem;
}

.icon {
  width: 20px;
}
