.gitignore
.prettierignore
.eslintrc.js
yarn.lock
node_modules
yarn-error.log
package-lock.json
dist
builds

graphql.schema.json

**/.gitignore
*/*/yarn.lock
*/*/node_modules
*/*/yarn-error.log
*/*/package-lock.json
*/*/dist
*/*/webpack*