/* wrapper */
.wrapper {
  padding: 0 1.5rem 1.5rem;
}

/* END wrapper */

/* existingEventItem */
.item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.5rem
}

.itemIcon {
  width: 20px;
}

.itemIcon svg {
  width: 100%;
}

.itemChildren {
  padding: 0;
  margin: 0;
  width: calc(100% - 42px);
}

/* END existingEventItem */

/* Title & date */
.title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 .25rem;
}

.date {
  margin: 0;
  font-size: .875rem;
}

/* END Title & date */

/* userRsvp styles */
.userRsvp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3E3D44;
  padding: 1.5rem;
  color: white;
  height: 85px;
}

.userRsvp_button {
  color: #fff;
}

/* END userRsvp styles */

/* Delete overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.overlayButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay buttons */
.overlayButton {
  color: #3E3D44;
  border: 1px solid #cecece;
}

.overlayButton:hover {
  background: #3E3D44;
}

.overlayButton:first-child {
  margin-left: 0;
}

.overlayButton_yes {
  background: #FA7E23;
  border-color: #FA7E23;
  color: white;
}

.overlayButton_yes:hover {
  background: red;
}

/* END Overlay buttons */
/* END Delete overlay */


.formWrap {
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: white;
  padding-top: 0;
}
